body {
  background-color: #EBFCFB;
  }/* Give your page a fun background color */

  h1 {
    color: #6495ED;
    }
  footer {
    color: #6495ED;
    }/* Make the header and footer a different color from the background */

h1 {
  text-align: center;
  }/* Align the h1 containing your name in the center of the header*/

p {
  color: #0000FF;
  font-style: italic;
  font-size: 25px;
  }/* Make your p tag a different color and italic */

img {
  border: 10px solid skyblue;
  }/* Put a border around your image */

ul {
  font-family: fantasy;
  } /* Change the font-family of your list */
